<div class="round-bar">
  <svg width="100%" height="100%" viewBox="0 0 149 149" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle opacity="0.1" cx="72.9649" cy="74.9649" r="67.9649" fill="#1E4471"/>
    <mask id="path-2-inside-1" fill="white">
      <path d="M138.167 84.8983C139.265 85.0656 140.293 84.3113 140.428 83.209C141.544 74.0725 140.794 64.7969 138.215 55.9467C135.447 46.4525 130.642 37.6766 124.133 30.2314C117.624 22.7862 109.568 16.8511 100.529 12.8404C92.1026 9.10175 83.0105 7.11919 73.8067 7.00521C72.6962 6.99146 71.8113 7.91021 71.8304 9.02061C71.8495 10.131 72.7654 11.0124 73.8759 11.0282C82.4944 11.151 91.0065 13.0152 98.8979 16.5165C107.402 20.2899 114.981 25.8738 121.105 32.8784C127.229 39.8831 131.75 48.1397 134.354 57.0721C136.769 65.3605 137.48 74.0453 136.45 82.603C136.318 83.7056 137.069 84.731 138.167 84.8983Z"/>
    </mask>
    <path d="M138.167 84.8983C139.265 85.0656 140.293 84.3113 140.428 83.209C141.544 74.0725 140.794 64.7969 138.215 55.9467C135.447 46.4525 130.642 37.6766 124.133 30.2314C117.624 22.7862 109.568 16.8511 100.529 12.8404C92.1026 9.10175 83.0105 7.11919 73.8067 7.00521C72.6962 6.99146 71.8113 7.91021 71.8304 9.02061C71.8495 10.131 72.7654 11.0124 73.8759 11.0282C82.4944 11.151 91.0065 13.0152 98.8979 16.5165C107.402 20.2899 114.981 25.8738 121.105 32.8784C127.229 39.8831 131.75 48.1397 134.354 57.0721C136.769 65.3605 137.48 74.0453 136.45 82.603C136.318 83.7056 137.069 84.731 138.167 84.8983Z"
          stroke="#74BF4B" stroke-width="9.24031" stroke-linecap="round" stroke-linejoin="round"
          mask="url(#path-2-inside-1)"/>
    <circle cx="72.9649" cy="74.9648" r="35.2895" fill="white"/>
    <path d="M138.331 93.4257C142.408 93.4257 145.713 90.1209 145.713 86.0442C145.713 81.9674 142.408 78.6626 138.331 78.6626C134.254 78.6626 130.949 81.9674 130.949 86.0442C130.949 90.1209 134.254 93.4257 138.331 93.4257Z"
          fill="#74BF4B" stroke="white" stroke-width="3"/>
    <path d="M54.0189 72.2888H50.4329C50.6383 70.8662 51.3056 69.7515 52.4349 68.9448C53.5643 68.1382 54.8696 67.7348 56.3509 67.7348C57.8909 67.7348 59.1596 68.1455 60.1569 68.9668C61.1543 69.7735 61.6529 70.8295 61.6529 72.1348C61.6529 72.6188 61.5943 73.0662 61.4769 73.4768C61.3743 73.8875 61.2423 74.2542 61.0809 74.5768C60.9343 74.8995 60.6556 75.3028 60.2449 75.7868C59.8489 76.2562 59.4749 76.6668 59.1229 77.0188C58.7856 77.3562 58.2503 77.8842 57.5169 78.6028L55.3829 80.6708H61.5429V83.4648H50.8729V80.6708L54.5909 77.0188C56.1016 75.5228 57.0696 74.4962 57.4949 73.9388C57.9349 73.3815 58.1549 72.7802 58.1549 72.1348C58.1549 71.5628 57.9789 71.1155 57.6269 70.7928C57.2896 70.4555 56.8276 70.2868 56.2409 70.2868C55.7129 70.2868 55.2436 70.4555 54.8329 70.7928C54.4369 71.1302 54.1656 71.6288 54.0189 72.2888ZM68.9923 81.3088C69.6523 81.3088 70.1803 81.1182 70.5763 80.7368C70.987 80.3408 71.1923 79.7835 71.1923 79.0648C71.1923 77.3782 70.305 76.5348 68.5303 76.5348H67.1883V74.1808H68.7063C69.3077 74.1808 69.821 73.9902 70.2463 73.6088C70.6863 73.2275 70.9063 72.7142 70.9063 72.0688C70.9063 71.4968 70.7303 71.0422 70.3783 70.7048C70.041 70.3675 69.6083 70.1988 69.0803 70.1988C67.995 70.1988 67.3423 70.7048 67.1223 71.7168H63.7783C63.969 70.4995 64.5557 69.5315 65.5383 68.8128C66.521 68.0942 67.7677 67.7348 69.2783 67.7348C70.745 67.7348 71.9623 68.0795 72.9303 68.7688C73.8983 69.4582 74.3823 70.4628 74.3823 71.7828C74.3823 72.6188 74.0743 73.3595 73.4583 74.0048C72.8423 74.6502 72.087 75.0462 71.1923 75.1928C72.175 75.3102 73.011 75.7355 73.7003 76.4688C74.3897 77.1875 74.7343 78.0308 74.7343 78.9988C74.7343 80.4362 74.2137 81.5948 73.1723 82.4748C72.131 83.3548 70.7523 83.7948 69.0363 83.7948C67.4523 83.7948 66.147 83.3915 65.1203 82.5848C64.1083 81.7782 63.5437 80.7588 63.4263 79.5268H66.8363C66.9097 80.0695 67.1297 80.5022 67.4963 80.8248C67.8777 81.1475 68.3763 81.3088 68.9923 81.3088ZM89.7737 68.0648L82.2497 83.4648H79.5217L87.0457 68.0648H89.7737ZM82.9757 68.7468C83.6504 69.4068 83.9877 70.3088 83.9877 71.4528C83.9877 72.5968 83.6504 73.5062 82.9757 74.1808C82.3011 74.8408 81.3551 75.1708 80.1377 75.1708C78.9204 75.1708 77.9744 74.8408 77.2997 74.1808C76.6251 73.5062 76.2877 72.5968 76.2877 71.4528C76.2877 70.3088 76.6251 69.4068 77.2997 68.7468C77.9744 68.0722 78.9204 67.7348 80.1377 67.7348C81.3551 67.7348 82.3011 68.0722 82.9757 68.7468ZM80.1377 73.4548C81.1497 73.4548 81.6557 72.7875 81.6557 71.4528C81.6557 70.1182 81.1497 69.4508 80.1377 69.4508C79.1257 69.4508 78.6197 70.1182 78.6197 71.4528C78.6197 72.7875 79.1257 73.4548 80.1377 73.4548ZM91.9737 77.3928C92.6484 78.0528 92.9857 78.9548 92.9857 80.0988C92.9857 81.2428 92.6484 82.1522 91.9737 82.8268C91.2991 83.4868 90.3531 83.8168 89.1357 83.8168C87.9184 83.8168 86.9724 83.4868 86.2977 82.8268C85.6231 82.1522 85.2857 81.2428 85.2857 80.0988C85.2857 78.9548 85.6231 78.0528 86.2977 77.3928C86.9724 76.7182 87.9184 76.3808 89.1357 76.3808C90.3531 76.3808 91.2991 76.7182 91.9737 77.3928ZM89.1357 82.1008C90.1477 82.1008 90.6537 81.4335 90.6537 80.0988C90.6537 78.7642 90.1477 78.0968 89.1357 78.0968C88.1237 78.0968 87.6177 78.7642 87.6177 80.0988C87.6177 81.4335 88.1237 82.1008 89.1357 82.1008Z"
          fill="#1E4471"/>
  </svg>

</div>


<!--<div class="round-bar {{#if large}}round-bar--large{{/if}}">-->
<!--  <div class="round-bar__wrapper"></div>-->
<!--  <div class="round-bar__circle {{#if color}}round-bar__circle--{{color}}{{/if}} {{#if mod}}{{mod}}{{/if}}">-->
<!--    <svg width="100%" height="100%" viewBox="0 0 38 38">-->
<!--      <circle cx="50%" cy="50%" r="15.91549430918954" fill="transparent" stroke="#E9EDF1" stroke-width="1"></circle>-->
<!--      <circle cx="50%" cy="50%" r="15.91549430918954" fill="transparent" stroke="currentColor" stroke-width="1"-->
<!--              stroke-dasharray='{{progress}} {{math 100 "-" progress}}'-->
<!--              stroke-dashoffset="25"-->
<!--              stroke-linecap="round">-->
<!--      </circle>-->
<!--      <circle class="round-bar__marker" r="15.91549430918954" cx="50" cy="50%"></circle>-->
<!--    </svg>-->
<!--  </div>-->
<!--  <span class="round-bar__value">-->
<!--    {{progress}}%-->
<!--  </span>-->
<!--</div>-->
