<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ page-title }}</title>
  <meta name="description" content="{{ page-description }}">

  {{> core/head-theme-color color="#00BCEB"}}
  <meta name="msapplication-config" content="../assets/images/favicon/browserconfig.xml">


  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../assets/images/favicon/apple-touch-icon-57x57.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="114x114"
        href="../assets/images/favicon/apple-touch-icon-114x114.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/images/favicon/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="144x144"
        href="../assets/images/favicon/apple-touch-icon-144x144.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../assets/images/favicon/apple-touch-icon-60x60.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="120x120"
        href="../assets/images/favicon/apple-touch-icon-120x120.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../assets/images/favicon/apple-touch-icon-76x76.png"/>
  <link rel="apple-touch-icon-precomposed" sizes="152x152"
        href="../assets/images/favicon/apple-touch-icon-152x152.png"/>
  <link rel="icon" type="image/png" href="../assets/images/favicon/favicon-196x196.png" sizes="196x196"/>
  <link rel="icon" type="image/png" href="../assets/images/favicon/favicon-96x96.png" sizes="96x96"/>
  <link rel="icon" type="image/png" href="../assets/images/favicon/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="../assets/images/favicon/favicon-16x16.png" sizes="16x16"/>
  <link rel="icon" type="image/png" href="../assets/images/favicon/favicon-128.png" sizes="128x128"/>
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#FFFFFF"/>
  <meta name="msapplication-TileImage" content="../assets/images/favicon/mstile-144x144.png"/>
  <meta name="msapplication-square70x70logo" content="../assets/images/favicon/mstile-70x70.png"/>
  <meta name="msapplication-square150x150logo" content="../assets/images/favicon/mstile-150x150.png"/>
  <meta name="msapplication-wide310x150logo" content="../assets/images/favicon/mstile-310x150.png"/>
  <meta name="msapplication-square310x310logo" content="../assets/images/favicon/mstile-310x310.png"/>


  <link rel="manifest" href="../assets/images/favicon/site.webmanifest" crossorigin="use-credentials">
  <link rel="mask-icon" href="../assets/images/favicon/safari-pinned-tab.svg" color="#DD6900">


  <link rel="canonical" href="{{ page-url }}">

  <link rel="preload" href="/assets/fonts/CiscoSans/Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="/assets/fonts/CiscoSans/Bold.woff2" as="font" type="font/woff2" crossorigin>

  <link rel="stylesheet" href="../assets/fonts/fonts.css?v={{cache}}">

  <link rel="stylesheet" href="../css/main.css?v={{cache}}">

  {{#if ui-kit}}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap" rel="stylesheet">
  {{/if}}
</head>

<body class="page {{page-mod}} {{page-class}}">
<div class="{{#if ui-kit}}uikit-preloader js-uikit-preloader{{else}}preloader js-preloader{{/if}}">
  {{#if ui-kit}}
    <div class="uikit-preloader-animation">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  {{/if}}
</div>
{{#unless authorization}}
  <div class="page__inner">
{{/unless}}
