{{#> modules/carousel/_component carousel=carousel}}
  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Australia"
            completed=true
            image="australia-stamp"
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="India"
            inprogress=true
            image="india-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Brazil"
            incompleted=true
            image="brazil-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Australia"
            completed=true
            image="australia-stamp"
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Indonesia"
            incompleted=true
            image="australia-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Argentina"
            incompleted=true
            image="australia-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Spain"
            incompleted=true
            image="australia-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Belgium"
            incompleted=true
            image="australia-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Georgia"
            incompleted=true
            image="australia-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Luxembourg"
            incompleted=true
            image="australia-stamp"
            not-active=true

    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Norway"
            incompleted=true
            image="australia-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="United Kingdom"
            incompleted=true
            image="australia-stamp"
            not-active=true
    }}
  </div>



{{/modules/carousel/_component}}
