{{#> modules/carousel/_component carousel=carousel}}
  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Australia"
            completed=true
            image="test-stamp"
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="India"
            inprogress=true
            image="test-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Brazil"
            incompleted=true
            image="test-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Australia"
            completed=true
            image="test-stamp"
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Indonesia"
            incompleted=true
            image="test-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Argentina"
            incompleted=true
            image="test-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Spain"
            incompleted=true
            image="test-stamp"
            not-active=true
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/stamp-card
            title="Belgium"
            incompleted=true
            image="test-stamp"
            not-active=true
    }}
  </div>
{{/modules/carousel/_component}}
