{{#> modules/carousel/_component carousel=carousel}}
  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            flag-icon="flags/flag_india"
            title="India"
            completed=true
            bottom-label="Video materials"
            label-icon='video'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Germany"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Italy"
            inprogress=true
            bottom-label="Presentation <span>materials</span>"
            label-icon='presentation'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            flag-icon="flags/flag_australia"
            title="Australia"
            completed=true
            bottom-label="Video materials"
            label-icon='video'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Indonesia"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Argentina"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Spain"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Belgium"
            incompleted=true
            bottom-label="Video materials"
            label-icon='video'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Georgia"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Luxembourg"
            incompleted=true
            bottom-label="Presentation <span>materials</span>"
            label-icon='presentation'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="Norway"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

  <div class="{{#if carousel}}carousel__card swiper-slide js-carousel__item {{else}}stamps__card{{/if}}">
    {{> widgets/card
            btn-top=true
            title="United Kingdom"
            incompleted=true
            bottom-label="Text materials"
            label-icon='text'
    }}
  </div>

{{/modules/carousel/_component}}
